<footer>
  <div class="container">
    <nav>
      <%= link_to 'Top', '/', class: 'hoge' %>
      <%= link_to 'About', '/about', class: 'hoge' %>
      <%= link_to 'Projects', '/projects', class: 'hoge' %>
      <%= link_to 'Contact', '/contact', class: 'hoge' %>
    </nav>
    <small>Copyright <%= Time.now.year %> Tokyo University of Technology, Tago Laboratory</small>
  </div>
</footer>