<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>東京工科大学 田胡研究室</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shitajicss@4.4.0/docs/css/shitaji.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if controller.controller_name == 'welcome' %> 
      <%= image_tag 'header.png', class: 'header-img' %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
